@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --font: 'Outfit', sans-serif;

/* Primary */

    --cor01: hsl(215, 51%, 70%);
    --cor02: hsl(178, 100%, 50%);

/* Neutral */

    --cor03-mainbg: hsl(217, 54%, 11%);
    --cor04-cardbg: hsl(216, 50%, 16%);
    --cor05-line: hsl(215, 32%, 27%);
    --cor06: hsl(0, 0%, 100%);
}
body{
    background-color: var(--cor03-mainbg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.full{
    width: 300px;
    background-color: var(--cor04-cardbg);
    border-radius: 10px;
    padding: 15px;
}
.desc{
    font-family: var(--font);
    font-size: 1.125rem;
    font-weight: lighter;
    color: var(--cor01);
}
img.imgeth{
    max-width: 100%;
    border-radius: 10px;
}