@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor01: hsl(158, 36%, 37%);
    --cor02: hsl(30, 38%, 92%);
    --cor03: hsl(212, 21%, 14%);
    --cor04: hsl(228, 12%, 48%);
    --cor05: hsl(0, 0%, 100%);
    --font-geral: 'Montserrat', sans-serif;
    --font-tit: 'Fraunces', serif;
}
body{
    background-color: var(--cor02);
}
main{
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img.imgperfum{
    width: 250px;
    height: 350px;
    border-radius: 15px 0px 0px 15px;
}
div.quadrado{
    display: inline-block;
    width: 250px;
    height: 350px;
}
div#conteudo{
    padding: 20px;
    width: 250px;
}
h3{
    font-family: var(--font-geral);
    font-size: 11px;
    letter-spacing: 3px;
    color: var(--cor04);
    font-weight: normal;
    margin-bottom: 15px;
}
h1{
    font-family: var(--font-tit);
    line-height: 30px;
    font-size: 27px;
    padding: 0px 10px 0px 0px;
    margin-bottom: 15px;
}
p{
    font-family: var(--font-geral);
    color: var(--cor04);
    font-size: 13px;
    margin-bottom: 20px;
}
h2{
    font-family: var(--font-tit);
    color: var(--cor01);
    
}
h4{
    font-family: var(--font-geral);
    text-decoration: line-through;
    color: var(--cor04);
    font-weight: normal;
    padding: 8px 0px 0px 23px;
    font-size: 12px;
    
}
div.price{
    display: flex;  
    margin-bottom: 25px;  
}
.addcart{
    background-color: var(--cor01);
    width: 200px;
    height: 40px;
    color: white;
    font-family: var(--font-geral);
    border-radius: 10px;
    border: none;
    font-size: 12px;
}
img.imgcar{
    padding-right: 10px;    
}
@media (max-width:550px){
    main{
        flex-direction: column;
        width: 250px;
        height: 700px;
    }
    h3{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    h1{
        margin-bottom: 20px;
        padding-left: 10px;
    }
    div#conteudo{
        padding: 10px;
    }
    img.imgperfum{
        border-radius: 15px 15px 0px 0px;
    }
    div.price{
        margin-left: 20px;
        margin-bottom: 25px;
    }
    .addcart{
        margin-left: 15px;
    }
}