@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;    
}
:root{
    --cor0: hsl(158, 36%, 37%);
    --cor1: hsl(30, 38%, 92%);
    --cor2: hsl(212, 21%, 14%);
    --cor3: hsl(228, 12%, 48%);
    --cor4: hsl(0, 0%, 100%);

    --font-princ: 'Montserrat', sans-serif;
    --font-sec: 'Fraunces', serif;
}
body{
    background-color: var(--cor1);
    font-size: 14px;
    font-family: var(--font-princ);
    min-height: 100vh;
    display: flex;  
    align-items: center;  
}
main{
    background-color: white; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; 
    width: 500px; 
    height: 375px;
    border-radius: 15px;       
}
div{
    display: inline-block;
}
div#desc{
    padding: 25px 30px 30px 10px;

}
p{
    color: var(--cor3);
    text-align: center;
    margin-bottom: 10px;
}
h1{
    font-family: var(--font-sec);
    margin-left: 15px;
    margin-bottom: 10px;
}
h2{
    color: var(--cor0);
}
p#title{
    letter-spacing: 3px;
    text-align: left;
    font-size: 10px;
    margin-left: 15px;
}
p#price{
    text-decoration: line-through;    
}
button{
    background-color: var(--cor0);
    font-family: var(--font-princ);
    color: white;
    padding: 10px 30px 10px 30px;
    border-color: transparent;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;    
}
img{
    width: 250px;
    border-radius: 15px 0px 0px 15px;
}
div.old-price{
    margin-left: 10px;
}
div.new-price{
    font-family: var(--font-sec);
    margin-left: 10px;
    font-size: 18px;
}
p.desc-perfume{
    margin-left: 15px;
    text-align: left;
    font-size: 13px;
}
