@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;    
    font-weight: normal;
}
:root{
    --cor00: hsl(0, 100%, 67%);
    --cor00-t: hsla(0, 100%, 67%, 0.096);
    --cor01: hsl(39, 100%, 56%);
    --cor01-t: hsl(39, 100%, 56%, 0.096);
    --cor02: hsl(166, 100%, 37%);
    --cor02-t: hsl(166, 100%, 37%, 0.096);
    --cor03: hsl(234, 85%, 45%);
    --cor03-t: hsl(234, 85%, 45%, 0.096);

    --cor04-b: hsl(252, 100%, 67%);
    --cor05-b: hsl(241, 81%, 54%);

    --cor06-c: hsla(256, 72%, 46%, 1);
    --cor07-c: hsla(241, 72%, 46%, 0);

    --cor08: hsl(0, 0%, 100%);
    --cor09: hsl(221, 100%, 96%);
    --cor10: hsl(241, 100%, 89%);
    --cor11: hsl(224, 30%, 27%);
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor09)   
}
.container{
    display: flex; 
    max-width: 450px;
    height: 300px;  
    background-color: white; 
    border-radius: 1rem;
}
.bluebox{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, var(--cor05-b), var(--cor04-b));
    width: 225px;
    color: white;    
    align-items: center;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
}
.bluebox > span{
    color: var(--cor09);
    text-align: center;
    font-size: 0.8rem;    
}
h1{
    color: var(--cor09);    
    margin-bottom: 1rem;
    font-size: 1rem;
}
.bluebox > strong{
    margin-bottom: 1rem;
}
.numberofresult{
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(to top, var(--cor07-c), var(--cor06-c));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.numberofresult > strong{
    font-size: 2rem; 
    font-weight: bolder;   
}
.numberofresult > span{
    color: var(--cor09);
    font-size: 0.7rem;
}
.whitebox{
    width: 225px;    
    padding: 1rem;
    display: flex;
    flex-direction: column;    
}
.reaction{
    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor00-t);
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.3rem;        
}
.memory{
    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor01-t);
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.verbal{
    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor02-t);
    margin-bottom: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.visual{
    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor03-t);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}
.reaction .skill > span{
    color: var(--cor00);
}
.memory .skill > span{
    color: var(--cor01);
}
.verbal .skill > span{
    color: var(--cor02);
}
.visual .skill > span{
    color: var(--cor03);
}
button{
    background-color: var(--cor11);
    border-radius: 1rem;
    color: white;    
    padding: 0.4rem 0;
    font-size: 0.8rem;
    border: 0px;    
}
button:hover{
    background-image: linear-gradient(to top, var(--cor05-b), var(--cor04-b));
    cursor: pointer;
}
.bestclass{
    color: var(--cor10);
}
.summary{
    margin-bottom: 1rem;
    font-weight: bold;
}
img{
    width: 12px;
    height: 12px;
}
.skill > span{
    font-size: 0.8rem;
}
.classification > strong,span{
    font-size: 0.8rem;
}

@media screen and (max-width: 470px){
    body{
        display: block;        
    }
    .container{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .bluebox{
        width: 100%;
        height: 50vh;
        border-radius: 0rem 0rem 2rem 2rem;
    }
    h1{
        font-size: 2rem;
    }
    .numberofresult{
        width: 12rem;
        height: 12rem;
        margin-bottom: 3rem;
    }
    .numberofresult > strong{
        font-size: 4rem;
    }
    .numberofresult > span{
        font-size: 0.8rem;
    }
    .bluebox > strong{
        font-size: 2.5rem;
    }
    .bluebox > span{
        font-size: 1rem;
    }
    .whitebox{
        width: 100%;
        height: 50vh;
    }
    .summary{
        font-size: 1.5rem;
    }
    .reaction{        
        margin-bottom: 1rem;        
        padding: 0.7rem 0.3rem;        
    }
    .memory{
        margin-bottom: 1rem;        
        padding: 0.7rem 0.3rem;
    }
    .verbal{
        margin-bottom: 1rem;        
        padding: 0.7rem 0.3rem;
    }
    .visual{
        margin-bottom: 2rem;        
        padding: 0.7rem 0.3rem;
    }
    .skill > span{
        font-size: 1rem;
    }
    .skill > img{
        width: 20px;
        height: 20px;
    }
    .classification > span{
        font-size: 1rem;

    }
    .classification > strong{
        font-size: 1rem;
    }
    button{
        padding: 1rem;
        border-radius: 2rem;
        font-size: 1.2rem;
    }

 }