@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor00-mainbg: hsl(233, 47%, 7%);
    --cor01-cardbg: hsl(244, 38%, 16%);
    --cor02-accent: hsl(277, 64%, 61%);
    --cor02-accent-t: hsla(277, 64%, 61%, 0.281);
    --cor03-w: hsl(0, 0%, 100%);
    --cor04-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --cor05-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
    --font-inter: 'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor00-mainbg);
}
main{
    display: flex;
    width: 650px;
    border-radius: 1rem 1rem;
}
.imgfull{    
    width: 50%;    
    position: relative;
}
.imgfull::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--cor02-accent);
    opacity: .5;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.companies, .templates, .queries{
    display: flex;
    flex-direction: column;
}
.informations{
    background-color: var(--cor01-cardbg);
    color: var(--cor03-w);
    font-family: var(--font-inter);
    padding: 1.5rem 4rem 1rem 2.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 50%;
}
h1{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h1 > span{
    color: var(--cor02-accent);
}
.descrition{
    color: var(--cor04-transparent-white-main-paragraph);
    font-size: 0.6rem;
    margin-bottom: 2.5rem;
    line-height: 1.1rem;        
}
.strong{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}
.nameskill{
    font-size: 0.46rem;
    color: var(--cor05-transparent-white-stat-headings);
    text-transform: uppercase;
    font-family: var(--font-lexend);
    letter-spacing: 0.05rem;
}
@media screen and (max-width: 653px) {      
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;                       
    }
    .imgfull{
        order: -1;
        border-radius: 0.5rem 0.5rem 0 0;        
    }
    img{
        border-radius: 0.5rem 0.5rem 0 0;               
    }
    .imgfull::after{
        border-radius: 0.5rem 0.5rem 0 0;        
    }
    .informations{
        border-radius: 0 0 0.5rem 0.5rem;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
    }
    .skills{
        flex-direction: column;
    }
    .descrition{
        margin-bottom: 1rem;
    }
    .companies{
        margin-bottom: 1rem;
    }
    .templates{
        margin-bottom: 1rem;        
    }     
}
